* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #FFF !important;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    &:hover {
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

#particles-js {
    background-color: transparent;
    background: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 0;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    &:after {
        content: " ";
        position: absolute;
        background: url('../images/wave.svg') no-repeat;
        width: 100vw;
        height: 9vw;
        bottom: -2px;
        left: 0;
        right: 0;
        z-index: 50;
    }
    .particles-js-canvas-el {
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 1
    }
    .top-content {
        position: relative;
        z-index: 2;
    }
    .top-header {
        .logo {
            width: 370px;
            padding-top: 30px;
            img {
                width: 100%;
            }
        }
    }
    .main-header {
        nav {
            margin-top: 30px;
            position: relative;
            display: flex;
            align-items: center;
            ul {
                display: flex;
                width: 100%;
                overflow: hidden;
                &:after {}
                li {
                    &:last-child {
                        a:after {
                            display: none;
                        }
                        a:before {
                            background-color: rgba(#FFF, 0.4);
                            content: " ";
                            width: 100vw;
                            height: 1px;
                            position: absolute;
                            left: calc(100% + 30px);
                            top: 50%;
                        }
                    }
                    a {
                        color: #fff;
                        position: relative;
                        margin-right: 60px;
                        font: 500 20px/24px Lato;
                        display: block;
                        &:hover {
                            text-decoration: none;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            margin-left: 25px;
                            width: 1px;
                            height: 16px;
                            background-color: #fff;
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
    .centered {
        color: #fff;
        h1 {
            font-family: 'Poppins', sans-serif;
            color: #fff;
            margin-top: 100px;
            margin-bottom: 50px;
            font: 600 60px/69px Poppins;
        }
        p {
            color: #fff;
            font-weight: 300;
            margin-bottom: 50px;
            font: 300 24px/40px Lato;
            strong {
                font-weight: bold;
            }
        }
        .find-more {
            border: 2px solid #fff;
            text-transform: capitalize;
            border-radius: 80px;
            padding: 20px 70px;
            display: inline-block;
            font: 700 20px/37px Lato;
            letter-spacing: 1.2px;
            color: #FFFFFF;
            text-transform: uppercase;
            transition: all 300ms;
            &:hover {
                background: #FFF;
                color: #FF5C66;
            }
        }
    }
}

.section {
    &.wwd {
        padding-bottom: 50px;
    }
    .section-title {
        color: #FF5C66;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 25px;
        font: 700 40px/95px Poppins;
    }
    .block {
        margin-bottom: 30px;
        box-shadow: 0px 10px 71px #00000012;
        border-radius: 0 0 10px 10px;
        .img-container {
            position: relative;
            border-radius: 10px 10px 0 0;
            overflow: hidden;
        }
    }
    .block-body {
        padding: 127px 70px 45px;
        text-align: center;
        position: relative;
        border-radius: 0 0 10px 10px;
        .block-icon {
            width: 145px;
            height: 145px;
            border-radius: 55px;
            background-color: #fff;
            margin: auto;
            position: absolute;
            top: -72px;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 3px 40px #00000017;
            img {
                width: 85px;
                height: 85px;
            }
        }
        .block-header {
            .block-title {
                color: #FF5C66;
                font: 700 22px/35px 'Poppins';
            }
        }
        .block-content {
            font: 400 20px/32px Lato;
        }
    }
}

.different {
    padding-top: 70px;
    padding-bottom: 30px;
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        background: url('../images/wave.svg') no-repeat;
        width: 100%;
        background-size: cover;
        height: 9vw;
        top: -2px;
        left: 0;
        right: 0;
        z-index: 50;
        transform: scaleY(-1);
    }
    &:after {
        content: " ";
        background: url(../images/bg.jpg) no-repeat;
        background-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transform: scale(-1);
        background-size: 200%;
        z-index: 0;
    }
    .container {
        position: relative;
        z-index: 5;
    }
    .section-title {
        color: #fff;
    }
    .circle-img {
        overflow: hidden;
        border-radius: 40%;
        overflow: hidden;
        width: 90%;
        border: 10px solid rgba(#FFFFFF, 0.5);
        margin: auto;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .different-block {
        margin-bottom: 40px;
        .different-title {
            text-transform: capitalize;
            margin-top: 25px;
            font: 700 20px/35px Poppins;
        }
        p {
            font: 400 16px/28px Lato;
        }
    }
}

.comment {
    padding-bottom: 35px;
    background-color: #F7FAFF;
    .section-title {
        margin: 0;
        padding-top: 80px;
        padding-bottom: 50px;
    }
    .customer-pic {
        .person {
            position: relative;
            z-index: 2;
        }
        .dots {
            position: absolute;
            left: -17px;
            width: 130px;
            z-index: 1;
            bottom: -33px;
        }
    }
    .comment {
        .quote {
            i {
                font-size: 20px;
                color: #377dff;
            }
        }
    }
}

.customers {
    .section-title {
        padding-top: 70px;
        padding-bottom: 50px;
        margin: 0;
    }
    .customer {
        .customer-img {
            text-align: center;
            padding: 25px;
            img {}
        }
    }
}

.partners {
    padding-bottom: 50px;
    .section-title {
        padding-top: 100px;
    }
    .partner-block {
        border-left: 7px solid #FF5C66;
        padding-left: 50px;
        padding-right: 180px;
        margin-bottom: 40px;
        box-shadow: 0px 0px 43px #0000000D;
        padding-bottom: 15px;
        padding-top: 15px;
        border-radius: 0 10px 10px 0;
        .partent-img {
            width: 250px;
            img {
                width: 100%;
                height: auto;
            }
        }
        .partner-title {
            h5 {
                color: #FF5C66;
                font-weight: bold;
                font-size: 26px;
            }
        }
        .partner-description {
            font-size: 18px;
        }
    }
}

.contact {
    .contact-form {
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 60px;
        background: transparent linear-gradient(36deg, #BB0066 0%, #FF5086 100%) 0% 0% no-repeat padding-box;
        form {
            .form-group {
                margin-bottom: 10px !important;
                .form-control {
                    height: 70px !important;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 18px;
                    border-radius: 12px;
                    border: none !important;
                }
                .textarea {
                    display: block;
                    border: none !important;
                    width: 100%;
                    font-size: 18px;
                    padding: 30px;
                    font-weight: 400;
                    line-height: 1.5;
                    color: #495057;
                    background-color: #fff;
                    border-radius: 12px;
                    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
                }
            }
            .send {
                border: 2px solid #fff;
                text-transform: capitalize;
                border-radius: 80px;
                padding: 20px 60px;
                display: inline-block;
                color: #fff;
                background-color: transparent;
                outline: none;
                margin-top: 15px;
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                transition: all 300ms;
                &:hover {
                    background: #FFF;
                    color: #FF5C66;
                }
            }
        }
        .contact-title {
            color: #fff;
            font-weight: 600;
            margin-bottom: 25px;
            font-size: 40px;
        }
    }
}

footer {
    background-color: #F5F5F5;
    padding: 70px 0;
    .footer-logo {
        width: 320px;
        margin-bottom: 30px;
        img {
            width: 100%;
        }
    }
    p {
        font: 400 16px/30px Lato;
    }
    .footer-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
            display: flex;
            li {
                margin-right: 20px;
                a {
                    color: #000;
                    font: 400 18px/22px Lato;
                    letter-spacing: 0.54px;
                }
            }
        }
    }
}