* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #FFF !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

#particles-js {
  background-color: transparent;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

#particles-js:after {
  content: " ";
  position: absolute;
  background: url("../images/wave.svg") no-repeat;
  width: 100vw;
  height: 9vw;
  bottom: -2px;
  left: 0;
  right: 0;
  z-index: 50;
}

#particles-js .particles-js-canvas-el {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

#particles-js .top-content {
  position: relative;
  z-index: 2;
}

#particles-js .top-header .logo {
  width: 370px;
  padding-top: 30px;
}

#particles-js .top-header .logo img {
  width: 100%;
}

#particles-js .main-header nav {
  margin-top: 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#particles-js .main-header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  overflow: hidden;
}

#particles-js .main-header nav ul li:last-child a:after {
  display: none;
}

#particles-js .main-header nav ul li:last-child a:before {
  background-color: rgba(255, 255, 255, 0.4);
  content: " ";
  width: 100vw;
  height: 1px;
  position: absolute;
  left: calc(100% + 30px);
  top: 50%;
}

#particles-js .main-header nav ul li a {
  color: #fff;
  position: relative;
  margin-right: 60px;
  font: 500 20px/24px Lato;
  display: block;
}

#particles-js .main-header nav ul li a:hover {
  text-decoration: none;
}

#particles-js .main-header nav ul li a:after {
  content: "";
  position: absolute;
  margin-left: 25px;
  width: 1px;
  height: 16px;
  background-color: #fff;
  bottom: 0;
}

#particles-js .centered {
  color: #fff;
}

#particles-js .centered h1 {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-top: 100px;
  margin-bottom: 50px;
  font: 600 60px/69px Poppins;
}

#particles-js .centered p {
  color: #fff;
  font-weight: 300;
  margin-bottom: 50px;
  font: 300 24px/40px Lato;
}

#particles-js .centered p strong {
  font-weight: bold;
}

#particles-js .centered .find-more {
  border: 2px solid #fff;
  text-transform: capitalize;
  border-radius: 80px;
  padding: 20px 70px;
  display: inline-block;
  font: 700 20px/37px Lato;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  text-transform: uppercase;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

#particles-js .centered .find-more:hover {
  background: #FFF;
  color: #FF5C66;
}

.section.wwd {
  padding-bottom: 50px;
}

.section .section-title {
  color: #FF5C66;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 25px;
  font: 700 40px/95px Poppins;
}

.section .block {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 71px #00000012;
          box-shadow: 0px 10px 71px #00000012;
  border-radius: 0 0 10px 10px;
}

.section .block .img-container {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.section .block-body {
  padding: 127px 70px 45px;
  text-align: center;
  position: relative;
  border-radius: 0 0 10px 10px;
}

.section .block-body .block-icon {
  width: 145px;
  height: 145px;
  border-radius: 55px;
  background-color: #fff;
  margin: auto;
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 3px 40px #00000017;
          box-shadow: 0px 3px 40px #00000017;
}

.section .block-body .block-icon img {
  width: 85px;
  height: 85px;
}

.section .block-body .block-header .block-title {
  color: #FF5C66;
  font: 700 22px/35px 'Poppins';
}

.section .block-body .block-content {
  font: 400 20px/32px Lato;
}

.different {
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative;
}

.different:before {
  content: " ";
  position: absolute;
  background: url("../images/wave.svg") no-repeat;
  width: 100%;
  background-size: cover;
  height: 9vw;
  top: -2px;
  left: 0;
  right: 0;
  z-index: 50;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.different:after {
  content: " ";
  background: url(../images/bg.jpg) no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(-1);
          transform: scale(-1);
  background-size: 200%;
  z-index: 0;
}

.different .container {
  position: relative;
  z-index: 5;
}

.different .section-title {
  color: #fff;
}

.different .circle-img {
  overflow: hidden;
  border-radius: 40%;
  overflow: hidden;
  width: 90%;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: auto;
}

.different .circle-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.different .different-block {
  margin-bottom: 40px;
}

.different .different-block .different-title {
  text-transform: capitalize;
  margin-top: 25px;
  font: 700 20px/35px Poppins;
}

.different .different-block p {
  font: 400 16px/28px Lato;
}

.comment {
  padding-bottom: 35px;
  background-color: #F7FAFF;
}

.comment .section-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 50px;
}

.comment .customer-pic .person {
  position: relative;
  z-index: 2;
}

.comment .customer-pic .dots {
  position: absolute;
  left: -17px;
  width: 130px;
  z-index: 1;
  bottom: -33px;
}

.comment .comment .quote i {
  font-size: 20px;
  color: #377dff;
}

.customers .section-title {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0;
}

.customers .customer .customer-img {
  text-align: center;
  padding: 25px;
}

.partners {
  padding-bottom: 50px;
}

.partners .section-title {
  padding-top: 100px;
}

.partners .partner-block {
  border-left: 7px solid #FF5C66;
  padding-left: 50px;
  padding-right: 180px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 0px 43px #0000000D;
          box-shadow: 0px 0px 43px #0000000D;
  padding-bottom: 15px;
  padding-top: 15px;
  border-radius: 0 10px 10px 0;
}

.partners .partner-block .partent-img {
  width: 250px;
}

.partners .partner-block .partent-img img {
  width: 100%;
  height: auto;
}

.partners .partner-block .partner-title h5 {
  color: #FF5C66;
  font-weight: bold;
  font-size: 26px;
}

.partners .partner-block .partner-description {
  font-size: 18px;
}

.contact .contact-form {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 60px;
  background: transparent linear-gradient(36deg, #BB0066 0%, #FF5086 100%) 0% 0% no-repeat padding-box;
}

.contact .contact-form form .form-group {
  margin-bottom: 10px !important;
}

.contact .contact-form form .form-group .form-control {
  height: 70px !important;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  border-radius: 12px;
  border: none !important;
}

.contact .contact-form form .form-group .textarea {
  display: block;
  border: none !important;
  width: 100%;
  font-size: 18px;
  padding: 30px;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border-radius: 12px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.contact .contact-form form .send {
  border: 2px solid #fff;
  text-transform: capitalize;
  border-radius: 80px;
  padding: 20px 60px;
  display: inline-block;
  color: #fff;
  background-color: transparent;
  outline: none;
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.contact .contact-form form .send:hover {
  background: #FFF;
  color: #FF5C66;
}

.contact .contact-form .contact-title {
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 40px;
}

footer {
  background-color: #F5F5F5;
  padding: 70px 0;
}

footer .footer-logo {
  width: 320px;
  margin-bottom: 30px;
}

footer .footer-logo img {
  width: 100%;
}

footer p {
  font: 400 16px/30px Lato;
}

footer .footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-menu ul li {
  margin-right: 20px;
}

footer .footer-menu ul li a {
  color: #000;
  font: 400 18px/22px Lato;
  letter-spacing: 0.54px;
}
/*# sourceMappingURL=main.css.map */