* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background: #FFF !important; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

a:hover {
  text-decoration: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif; }

.top-header .logo {
  width: 370px;
  padding-top: 30px; }
  .top-header .logo img {
    width: 100%; }
.top-header .hamburger-btn {
  display: none; }
  .top-header .hamburger-btn span {
    width: 40px;
    height: 3px;
    margin-bottom: 5px;
    display: block;
    background-color: #fff; }
    .top-header .hamburger-btn span:last-child {
      margin-bottom: 0; }

.main-header nav {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center; }
  .main-header nav ul {
    display: flex;
    width: 100%;
    overflow: hidden; }
    .main-header nav ul li:last-child a:after {
      display: none; }
    .main-header nav ul li:last-child a:before {
      background-color: rgba(255, 255, 255, 0.4);
      content: " ";
      width: 100vw;
      height: 1px;
      position: absolute;
      left: calc(100% + 30px);
      top: 50%; }
    .main-header nav ul li a {
      color: #fff;
      position: relative;
      margin-right: 60px;
      font: 500 20px/24px Lato;
      display: block; }
      .main-header nav ul li a:hover {
        text-decoration: none; }
      .main-header nav ul li a:after {
        content: "";
        position: absolute;
        margin-left: 25px;
        width: 1px;
        height: 16px;
        background-color: #fff;
        bottom: 0; }

#particles-js {
  background-color: transparent;
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
  min-height: 100vh;
  position: relative;
  overflow: hidden; }
  #particles-js.product-header {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #particles-js.people-header {
    background-image: url("../images/people.png");
    background: linear-gradient(180deg, #BA0065 0%, #FF5C66 100%) 0% 0% no-repeat padding-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative; }
    #particles-js.people-header:after {
      display: none !important; }
  #particles-js:after {
    content: " ";
    position: absolute;
    background: url("../images/wave.svg") no-repeat;
    width: 100vw;
    height: 9vw;
    bottom: -2px;
    left: 0;
    right: 0;
    z-index: 50; }
  #particles-js .particles-js-canvas-el {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1; }
  #particles-js .top-content {
    position: relative;
    z-index: 2; }
  #particles-js .centered {
    color: #fff; }
    #particles-js .centered h1 {
      font-family: 'Poppins', sans-serif;
      color: #fff;
      margin-top: 100px;
      margin-bottom: 50px;
      font: 600 60px/69px Poppins; }
    #particles-js .centered p {
      color: #fff;
      font-weight: 300;
      margin-bottom: 50px;
      font: 300 24px/40px Lato; }
      #particles-js .centered p strong {
        font-weight: bold; }
    #particles-js .centered .find-more {
      border: 2px solid #fff;
      text-transform: capitalize;
      border-radius: 80px;
      padding: 20px 70px;
      display: inline-block;
      font: 700 20px/37px Lato;
      letter-spacing: 1.2px;
      color: #FFFFFF;
      text-transform: uppercase;
      transition: all 300ms; }
      #particles-js .centered .find-more:hover {
        background: #FFF;
        color: #FF5C66; }

.section.wwd {
  padding-bottom: 50px; }
.section .section-title {
  color: #FF5C66;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 25px;
  font: 700 40px/95px Poppins; }
.section .block {
  margin-bottom: 30px;
  box-shadow: 0px 10px 71px #00000012;
  border-radius: 0 0 10px 10px; }
  .section .block .img-container {
    position: relative;
    border-radius: 10px 10px 0 0;
    overflow: hidden; }
.section .block-body {
  padding: 127px 70px 45px;
  text-align: center;
  position: relative;
  border-radius: 0 0 10px 10px; }
  .section .block-body .block-icon {
    width: 145px;
    height: 145px;
    border-radius: 55px;
    background-color: #fff;
    margin: auto;
    position: absolute;
    top: -72px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 40px #00000017; }
    .section .block-body .block-icon img {
      width: 85px;
      height: 85px; }
  .section .block-body .block-header .block-title {
    color: #FF5C66;
    font: 700 22px/35px 'Poppins'; }
  .section .block-body .block-content {
    font: 400 20px/32px Lato; }

.different {
  padding-top: 70px;
  padding-bottom: 30px;
  position: relative; }
  .different:before {
    content: " ";
    position: absolute;
    background: url("../images/wave.svg") no-repeat;
    width: 100%;
    background-size: cover;
    height: 9vw;
    top: -2px;
    left: 0;
    right: 0;
    z-index: 50;
    transform: scaleY(-1); }
  .different:after {
    content: " ";
    background: url(../images/bg.jpg) no-repeat;
    background-position: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(-1);
    background-size: 200%;
    z-index: 0; }
  .different .container {
    position: relative;
    z-index: 5; }
  .different .section-title {
    color: #fff; }
  .different .circle-img {
    overflow: hidden;
    border-radius: 40%;
    overflow: hidden;
    width: 90%;
    border: 10px solid rgba(255, 255, 255, 0.5);
    margin: auto; }
    .different .circle-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .different .different-block {
    margin-bottom: 40px; }
    .different .different-block .different-title {
      text-transform: capitalize;
      margin-top: 25px;
      font: 700 20px/35px Poppins; }
    .different .different-block p {
      font: 400 16px/28px Lato; }

.comment {
  padding-bottom: 35px;
  background-color: #F7FAFF; }
  .comment .section-title {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 50px; }
  .comment .customer-pic .person {
    position: relative;
    z-index: 2; }
  .comment .customer-pic .dots {
    position: absolute;
    left: -17px;
    width: 130px;
    z-index: 1;
    bottom: -33px; }
  .comment .comment .quote i {
    font-size: 20px;
    color: #377dff; }

.customers .section-title {
  padding-top: 70px;
  padding-bottom: 50px;
  margin: 0; }
.customers .customer .customer-img {
  text-align: center;
  padding: 25px; }

.partners {
  padding-bottom: 50px; }
  .partners .section-title {
    padding-top: 100px; }
  .partners .partner-block {
    border-left: 7px solid #FF5C66;
    padding-left: 50px;
    padding-right: 180px;
    margin-bottom: 40px;
    box-shadow: 0px 0px 43px #0000000D;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 0 10px 10px 0; }
    .partners .partner-block .partent-img {
      width: 250px; }
      .partners .partner-block .partent-img img {
        width: 100%;
        height: auto; }
    .partners .partner-block .partner-title h5 {
      color: #FF5C66;
      font-weight: bold;
      font-size: 26px; }
    .partners .partner-block .partner-description {
      font-size: 18px; }

.contact .contact-form {
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 60px;
  background: transparent linear-gradient(36deg, #BB0066 0%, #FF5086 100%) 0% 0% no-repeat padding-box; }
  .contact .contact-form form .form-group {
    margin-bottom: 10px !important; }
    .contact .contact-form form .form-group .form-control {
      height: 70px !important;
      padding-left: 30px;
      padding-right: 30px;
      font-size: 18px;
      border-radius: 12px;
      border: none !important; }
    .contact .contact-form form .form-group .textarea {
      display: block;
      border: none !important;
      width: 100%;
      font-size: 18px;
      padding: 30px;
      font-weight: 400;
      line-height: 1.5;
      color: #495057;
      background-color: #fff;
      border-radius: 12px;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out; }
  .contact .contact-form form .send {
    border: 2px solid #fff;
    text-transform: capitalize;
    border-radius: 80px;
    padding: 20px 60px;
    display: inline-block;
    color: #fff;
    background-color: transparent;
    outline: none;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: all 300ms; }
    .contact .contact-form form .send:hover {
      background: #FFF;
      color: #FF5C66; }
  .contact .contact-form .contact-title {
    color: #fff;
    font-weight: 600;
    margin-bottom: 25px;
    font-size: 40px; }

footer {
  background-color: #F5F5F5;
  padding: 70px 0; }
  footer .footer-logo {
    width: 320px;
    margin-bottom: 30px; }
    footer .footer-logo img {
      width: 100%; }
  footer p {
    font: 400 16px/30px Lato; }
  footer .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center; }
    footer .footer-menu ul {
      display: flex; }
      footer .footer-menu ul li {
        margin-right: 20px; }
        footer .footer-menu ul li a {
          color: #000;
          font: 400 18px/22px Lato;
          letter-spacing: 0.54px; }

.page-header {
  background: transparent linear-gradient(89deg, #600064 0%, #C80066 100%) 0% 0% no-repeat padding-box; }
  .page-header .top-content {
    padding-top: 50px;
    padding-bottom: 30px; }
    .page-header .top-content .top-header .logo {
      padding-top: 0; }
  .page-header nav ul li:last-child a:before {
    display: none; }
  .page-header nav ul li a:after {
    display: none; }

.about-us-page {
  padding-top: 80px;
  padding-bottom: 150px; }
  .about-us-page .about-title {
    font: 700 48px/69px Poppins;
    color: #FF5C66; }
    .about-us-page .about-title span {
      color: #7E7E7E; }
  .about-us-page .about-description {
    margin-top: 50px; }
    .about-us-page .about-description p {
      font: 400 19px/34px Lato; }
  .about-us-page .about-btns {
    margin-top: 60px;
    display: flex; }
    .about-us-page .about-btns .btn-about {
      font: 400 20px/37px Lato;
      text-transform: uppercase;
      padding: 15px 55px;
      border-radius: 80px;
      display: inline-block;
      box-shadow: 0px 0px 75px #0000003D;
      transition: all 300ms;
      margin-right: 15px; }
    .about-us-page .about-btns .btn-red {
      background-color: #FF5C66;
      color: #fff; }
      .about-us-page .about-btns .btn-red:hover {
        background-color: #ff5c66e0; }
    .about-us-page .about-btns .btn-white {
      border: 2px solid #0084FF; }
  .about-us-page .about-pic {
    border: 18px solid #0084FF0F;
    box-shadow: 0px 3px 62px #0000002B;
    border-radius: 30px;
    overflow: hidden; }
  .about-us-page .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

.product-header .product-centered {
  margin-top: 110px; }
  .product-header .product-centered h1 {
    font: 700 48px/69px Poppins;
    margin-bottom: 40px; }
  .product-header .product-centered p {
    font: 700 30px/54px Poppins; }

.big-circle {
  width: 520px;
  height: 520px;
  border: 16px solid #FFFFFFD1;
  border-radius: 50%;
  background: transparent linear-gradient(1deg, #C80066 0%, #FF5C66 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 23px 94px #00000054;
  margin: auto;
  position: relative;
  top: -370px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.9;
  margin-bottom: -300px; }
  .big-circle p {
    font: 400 17px/44px Poppins; }
  .big-circle span {
    font: 700 50px/76px Poppins; }

.continue {
  font: 700 24px/54px Poppins;
  text-align: center; }
  .continue p {
    color: #FF5C66;
    margin-bottom: 80px; }
  .continue .product-title {
    color: #0084FF;
    font: 700 20px/34px Poppins; }
  .continue ul li {
    font: 400 18px/34px Lato; }
  .continue .product-section {
    padding-bottom: 90px; }
    .continue .product-section .products {
      margin-bottom: 40px; }
      .continue .product-section .products .product-details {
        padding-left: 30px; }

.product-banner {
  background: transparent linear-gradient(28deg, #FF5C66 0%, #730051 100%) 0% 0% no-repeat padding-box;
  text-align: center;
  padding: 80px 0;
  position: relative; }
  .product-banner h2 {
    font: 700 50px/64px Poppins;
    margin: 30px 0; }
  .product-banner p {
    font: 700 26px/54px Poppins; }
  .product-banner:after {
    content: "";
    position: absolute;
    bottom: -28px;
    width: 65px;
    height: 65px;
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    background: #D23E5F 0% 0% no-repeat padding-box;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto; }

.product-sliders > div {
  padding-bottom: 50px; }
.product-sliders .slider-title {
  font: 700 36px/69px Poppins;
  text-align: center;
  color: #FF5C66;
  padding-top: 80px;
  padding-bottom: 30px;
  text-transform: uppercase; }
.product-sliders .chronus {
  background-color: #F5F5F59C; }
.product-sliders .owl-carousel .owl-stage-outer .owl-stage .owl-item {
  border-radius: 40px;
  overflow: hidden; }
  .product-sliders .owl-carousel .owl-stage-outer .owl-stage .owl-item .product-item {
    box-shadow: 0px 20px 98px #00000014;
    border: 21px solid #0084FF0D;
    border-radius: 40px;
    overflow: hidden; }
    .product-sliders .owl-carousel .owl-stage-outer .owl-stage .owl-item .product-item img {
      object-fit: cover; }
.product-sliders .slider-description p {
  font: 700 22px/36px Lato;
  color: #2E2E2E; }

.ready-banner {
  padding: 120px 0;
  background: transparent linear-gradient(40deg, #FF5C66 0%, #730051 100%) 0% 0% no-repeat padding-box; }
  .ready-banner .ready-title {
    font: 600 60px/54px Poppins;
    color: #FFF;
    position: relative;
    margin-right: 100px; }
    .ready-banner .ready-title:after {
      content: "";
      height: 80px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0.4);
      position: absolute;
      margin-left: 45px;
      top: -10px; }
  .ready-banner .request-btn {
    font: 400 20px/37px Lato;
    text-transform: uppercase;
    padding: 15px 55px;
    border-radius: 80px;
    display: inline-block;
    transition: all 300ms;
    margin-right: 15px;
    border: 3px solid #fff;
    color: #fff; }
    .ready-banner .request-btn:hover {
      background-color: #fff;
      color: #FF5C66; }

.people-header .people-centered {
  text-align: center;
  margin-top: 110px; }
  .people-header .people-centered h1 {
    color: #FF5C66;
    font: 700 48px/69px Poppins; }
  .people-header .people-centered p {
    font: 400 30px/49px Poppins; }

.people-columns {
  position: relative;
  top: -360px;
  margin-bottom: -120px; }
  .people-columns .columns {
    display: flex;
    text-align: center; }
    .people-columns .columns .column-title {
      font: 700 20px/26px Poppins;
      color: #fff;
      margin-bottom: 20px;
      padding: 16px;
      text-align: center; }
    .people-columns .columns .column-content {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0px 22px 33px #0000000D;
      padding: 18px;
      height: 100%; }
      .people-columns .columns .column-content > div {
        border-bottom: 2px dashed #0000000D;
        padding: 7px; }
    .people-columns .columns .column {
      flex: 1;
      margin-right: 15px; }

.people-continue {
  padding-bottom: 150px; }
  .people-continue p {
    font: 700 30px/49px Poppins;
    color: #0084FF; }

.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center; }

@media (min-width: 1400px) {
  .container {
    max-width: 1315px !important; } }
@media (max-width: 1400px) {
  .about-us-page .about-title {
    font: 700 44px/69px Poppins;
    color: #FF5C66; }
    .about-us-page .about-title span {
      color: #7E7E7E; }
  .about-us-page .about-btns .btn-about {
    padding: 10px 30px; }

  #particles-js {
    min-height: 130vh; }

  .big-circle {
    width: 320px;
    height: 320px;
    top: -240px;
    margin-bottom: -200px; }
    .big-circle span {
      font: 700 28px/20px Poppins; }
    .big-circle p {
      font: 400 13px/20px Poppins; } }
@media (max-width: 1200px) {
  .about-us-page {
    padding-bottom: 70px; }
    .about-us-page .about-btns {
      justify-content: center; }
      .about-us-page .about-btns .btn-about {
        margin-bottom: 40px; }
        .about-us-page .about-btns .btn-about div {
          justify-content: center; } }
@media (max-width: 992px) {
  .partners .partner-block {
    padding-right: 20px; }

  .people-header {
    min-height: 50vh !important; }
    .people-header .people-centered {
      margin-top: 60px; }

  .people-continue {
    padding-bottom: 50px; }

  .ready-banner {
    padding: 80px 0; }
    .ready-banner .ready-title {
      margin: 0;
      margin-bottom: 50px; }
      .ready-banner .ready-title:after {
        display: none; }
    .ready-banner .ready-bg {
      flex-direction: column; }

  .people-columns {
    position: static;
    padding-top: 30px;
    margin-bottom: 0; }
    .people-columns .columns {
      flex-direction: column; }
      .people-columns .columns .column {
        margin-bottom: 40px;
        padding: 0 15px !important; }
        .people-columns .columns .column .column-title {
          color: #000; }
        .people-columns .columns .column .column-content {
          height: auto;
          box-shadow: 0px 0px 21px 8px #0000000D; } }
@media (max-width: 768px) {
  .about-us-page {
    padding-top: 40px; }
    .about-us-page .about-description {
      margin-top: 25px; } }
@media (max-width: 767px) {
  .section .section-title {
    padding-top: 25px;
    font: 700 40px/70px Poppins; }

  .different:after {
    background-size: cover; }

  .contact .contact-title {
    text-align: center; }
  .contact .contact-form {
    padding-left: 0; }

  .product-header .product-centered {
    margin-top: 50px; }

  .top-header {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .top-header .hamburger-btn {
      display: block !important;
      padding-top: 30px; }

  .main-header {
    display: none; }
    .main-header nav ul {
      flex-direction: column;
      text-align: center; }
      .main-header nav ul li a {
        margin-right: 0 !important;
        padding: 10px 0; }
        .main-header nav ul li a:after {
          display: none; }

  .centered h1 {
    font: 600 40px/50px Poppins;
    margin-top: 40px;
    margin-bottom: 20px; }

  .page-header .hamburger-btn {
    padding-top: 0 !important; } }
@media (max-width: 576px) {
  .submit {
    display: flex;
    justify-content: center; }

  .section .block-body {
    padding: 127px 20px 45px; }

  #particles-js .centered h1 {
    font: 600 45px/69px Poppins;
    margin-top: 50px; }
  #particles-js .centered .find-more {
    padding: 10px 50px; }

  footer .footer-logo {
    width: 290px; }

  .product-banner h2 {
    font: 700 37px/64px Poppins; }

  .ready-banner .request-btn {
    padding: 15px 45px; }

  .product-header {
    min-height: 155vh !important; }

  .big-circle {
    top: -91px;
    margin-bottom: -80px; }

  .footer-nav {
    justify-content: flex-start; }
    .footer-nav .footer-menu ul {
      flex-direction: column; }
      .footer-nav .footer-menu ul li {
        margin-bottom: 20px; }

  .about-us-page {
    padding-bottom: 35px; }
    .about-us-page .about-btns {
      flex-direction: column; }
      .about-us-page .about-btns .btn-about {
        margin-bottom: 20px; }
        .about-us-page .about-btns .btn-about div {
          justify-content: center; }

  .ready-banner {
    padding: 50px 0; }
    .ready-banner .ready-title {
      margin: 0;
      margin-bottom: 50px;
      font: 600 40px/50px Poppins; }
      .ready-banner .ready-title:after {
        display: none; }
    .ready-banner .ready-bg {
      flex-direction: column; } }

/*# sourceMappingURL=main.css.map */
